@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Space+Mono&display=swap');

/* Page Styles */

body {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(40,40,40);
  background: rgb(253,235,247);
  background: linear-gradient(180deg, rgba(253,235,247,1) 52%, rgba(251,202,255,1) 100%);
}

h1, h2, h3 {
font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

/* Responsive */
@media (max-width: 1080px) {
  .container {
    width: 700px;
    margin: 5rem auto;
  }
}

@media (max-width: 720px) {
  .container {
    width: 650px;
    margin: 5rem auto;
  }
}

@media (max-width: 540px) {
  .container {
    width: 480px;
    margin: 5rem auto;
  }
}

@media (max-width: 480px) {
  .container {
    width: 300px;
    margin: 5rem auto;
  }
}

/* Custom Styles */

img.img-circle {
  width: 20rem;
  height: 20rem;
  border-radius: 50%
}

.text-center {
  text-align: center;
}

.card-info {
  background-color: rgba(255,255,255,0.6);
  padding: 24px;
  margin: 24px 0px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

a.btn-pink {
  background: rgb(250,78,171);
  background: linear-gradient(270deg, rgba(250,78,171,1) 0%, rgba(254,131,198,1) 100%);
  color: rgb(250,250,250);
  letter-spacing: 1px;
  padding: 16px 24px;
  margin: 12px;
  border-radius: 8px;
  display: inline-block;
}

a.btn-pink:hover {
  background: rgb(178,72,155);
  background: linear-gradient(180deg, rgba(178,72,155,1) 0%, rgba(208,82,151,1) 100%);
}

ul.list-inline {
  list-style: none;
  padding-left: 0px;
}

ul.list-inline li {
  display: inline-block;
  padding: 0px 24px;
}

ul.list-inline a {
  font-size: 24px;
  color: rgb(250,78,171);
}

ul.list-inline a:hover {
  color:rgb(178,72,155);
  color: linear-gradient(180deg, rgba(178,72,155,1) 0%, rgba(208,82,151,1) 100%);
}
